<header class="bg-white shadow-md">
<div class="container mx-auto flex items-center justify-between py-4 px-6">
    <div class="flex items-center space-x-2">
    <a href="/">
        <span class="text-xl font-semibold">ğŒ‚ SpaceWise</span>
    </a>
    </div>
</div>
</header>