<header class="bg-white shadow-md">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
      <div class="flex items-center space-x-2">
        <a href="/" class="text-3xl font-bold">ğŒ‚</a> <!-- Clickable Logo -->
        <span class="text-xl font-semibold">SpaceWise</span>
      </div>
      <div class="flex items-center space-x-4">
        <a href="/adminRegisterLogin" class="text-gray-600 hover:text-black">Admin</a>
        <a href="/signIn">
          <button class="px-4 py-2 text-sm text-white bg-purple-600 rounded hover:bg-purple-800">
            Sign in
          </button>
        </a>
        <a href="/register">
          <button class="px-4 py-2 text-sm text-white bg-black rounded hover:bg-gray-800">
            Register
          </button>
        </a>
      </div>
    </div>
  </header>
  